

#hoved {
    position: relative;
    float: left;
}

#oversikt {
    width: 800px;

}

#infobilde {
    height: 150px;
}

#film {
    width: 300px;
    margin: 20px;
    border: 3px blue solid;
    border-radius: 20px;
}
#granboElement {
    position: absolute;
    left: 660px;
    top: 450px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    background-color: red;
    opacity: 0.5;
    border-radius: 20px;
    border: 3px solid black;
}

#granstuaElement {
    position: absolute;
    left: 130px;
    top: 320px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    background-color: red;
    opacity: 0.5;
    border-radius: 20px;
    border: 3px solid black;
}

#presentasjonElement {
    width: 350px;
    height: 300px;
    float: left;
    margin: 20px;
    background-color: lightgray;
    border: 2px solid lightskyblue;
    border-radius: 20px;
    padding: 10px;
}