#hoved {
    width: 400px;
    padding: 20px;
    margin: 30px;
    background-color: beige;
    border: 4px solid goldenrod;
    border-radius: 10px;
    box-shadow: 10px 5px 5px;

}

#utElement {
    padding: 10px;
    margin: 20px;
    width: 300px;
    background-color: lightskyblue;
    border: 4px solid blueviolet;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}