.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.header {
    grid-column: 1;
    grid-row: 1;
}

.infoboks {
    padding-top: 50px;
    grid-column: 2;
    grid-row: 1;
}

#utTekstElement {
    grid-column: 1;
    grid-row: 2;
}

#diagramElement {
    grid-column: 2;
    grid-row: 2;
}

#tabellbilde {
    width: 400px;
}

figcaption {
    width: 400px;
}

#diagramElement {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: lightgrey;
}

.soyleElement {
    position: absolute;
    background-color: lightskyblue;
    float: left;
    bottom: 10px;
    width: 40px;
    margin: 10px;
    box-shadow: 5px 10px 5px #888888;
}