

#tabellbilde {
    width: 400px;
}

figcaption {
    width: 400px;
}

#diagramElement {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: lightgrey;
}

.soyleElement {
    position: absolute;
    background-color: lightskyblue;
    float: left;
    bottom: 10px;
    width: 40px;
    margin: 10px;
    box-shadow: 5px 10px 5px #888888;
}