

.hytteDiv{
    width: 200px;
    background-color: lightskyblue;
    border: solid 3px blue;
    border-radius: 10px;
    box-shadow: 10px 10px 5px black;
    margin: 10px;
}

img {
    width: 100px;
}